---
layout: default
title: Categories
permalink: /categories/
---

<div class="breadcrumb"><a href="{{ '/' | relative_url }}">~/</a><span class="sep">/</span><a href="{{ '/writeups/' | relative_url }}">writeups</a><span class="sep">/</span>categories</div>
<div class="page-head">
  <h1><span class="p">#</span> categories</h1>
  <div class="sub">{{ site.categories | size }} categories</div>
</div>

<section style="padding-top:28px">
  {% assign sorted_cats = site.categories | sort %}
  {% for cat in sorted_cats %}
  <div class="category-section" id="{{ cat[0] | slugify }}">
    <h2 class="category-heading">{{ cat[0] }}<span class="count">{{ cat[1] | size }}</span></h2>
    <ul class="post-list">
      {% for post in cat[1] %}
      <li class="post-item">
        <span class="post-date"><span class="day">{{ post.date | date: "%d" }}</span><span class="month">{{ post.date | date: "%b %Y" }}</span></span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        {% if post.tags %}<div class="post-tags-inline">{% for tag in post.tags limit:2 %}<a href="{{ '/tags/' | relative_url }}#{{ tag | slugify }}" class="tag-pill">{{ tag }}</a>{% endfor %}</div>{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</section>
