---
layout: default
title: Tags
permalink: /tags/
---

<div class="breadcrumb"><a href="{{ '/' | relative_url }}">~/</a><span class="sep">/</span><a href="{{ '/writeups/' | relative_url }}">writeups</a><span class="sep">/</span>tags</div>
<div class="page-head">
  <h1><span class="p">#</span> tags</h1>
  <div class="sub">{{ site.tags | size }} tags across {{ site.posts | size }} writeups</div>
</div>

<section style="padding-top:28px">
  {% assign sorted_tags = site.tags | sort %}
  <div class="tag-cloud">
    {% for tag in sorted_tags %}
    <a href="#{{ tag[0] | slugify }}" class="tag-link">{{ tag[0] }} <span>{{ tag[1] | size }}</span></a>
    {% endfor %}
  </div>

  {% for tag in sorted_tags %}
  <div class="tag-section" id="{{ tag[0] | slugify }}">
    <h2 class="tag-heading">{{ tag[0] }}<span class="count">{{ tag[1] | size }}</span></h2>
    <ul class="post-list">
      {% for post in tag[1] %}
      <li class="post-item">
        <span class="post-date"><span class="day">{{ post.date | date: "%d" }}</span><span class="month">{{ post.date | date: "%b %Y" }}</span></span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</section>
